<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app1">
        <p v-if='seen'>You can see me!</p>
    </div>

    <div id="app2">
        <ol>
            <li v-for="todo in todolist">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app3">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">点击翻转</button>
    </div>
    <div id="app4">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <div id="app5">
        <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">菜鸟教程</div>
    </div><br>
    <div id="app6">
        <button v-on:click="count+=1">点击+1</button>
        <p>{{count}}</p>
    </div>
    <div id="app7">
        <button v-on:click="say('hi')">Say hi</button>
        <button v-on:click="say('what') ">Say what</button>
    </div>

    <div id="app8">
        <input type="checkbox" value="Runoob" v-model="checkedName">
        <label for="Runoob">Runoob</label>
        <input type="checkbox" value="Taobao" v-model="checkedName">
        <label>Taobao</label>
        <input type="checkbox" value="Google" v-model="checkedName">
        <label>Google</label><br>
        <p>选择的值为：{{ checkedName }}</p>
    </div>
    <div id="app9">
        <select v-model="selected">
            <option value="">选择一个网站</option>
            <option value="WWW.taobao.com">Taobao</option>
            <option value="www.google.com">Google</option>
        </select><br>
        <span>选择的网站为：{{selected}}</span>
    </div>

    <div id="app10">
        <select v-model="selected">
            <option v-for="option in options" :value="option.value">{{option.key}}</option>
        </select>
        <span id="output">网站为：{{selected}}</span>
    </div>

    <div id="app11">
        <ol>
            <todo-item v-for="item in sites" v-bind:todo="item"></todo-item>

        </ol>
    </div>
    <div id="app12">
        <p>当页面加载时，自动聚焦：</p>
        <input v-focus>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "我的第一个Vue"
            },
        })
        var app1 = new Vue({
            el: '#app1',
            data: {
                seen: true,
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                todolist: [{
                        text: '学习HTML'
                    },
                    {
                        text: '学习CSS'
                    }, {
                        text: '学习JavaScript'
                    }
                ]
            }
        })
        var app3 = new Vue({
            el: '#app3',
            data: {
                message: 'Hello World'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        })
        var app4 = new Vue({
            el: '#app4',
            data: {
                message: "Hello World"
            }
        })
        var app5 = new Vue({
            el: '#app5',
            data: {
                activeColor: 'red',
                fontSize: 30
            }
        })
        var app6 = new Vue({
            el: '#app6',
            data: {
                count: 0
            }
        })
        var app7 = new Vue({
            el: '#app7',
            methods: {
                say: function (message) {
                    alert(message)
                }
            }
        })
        var app8 = new Vue({
            el: '#app8',
            data: {
                //checked:true,
                checkedName: []
            }
        })
        var app9 = new Vue({
            el: "#app9",
            data: {
                selected: '',
            }
        })
        var app10 = new Vue({
            el: '#app10',
            data: {
                options: [{
                    key: "选择...",
                    value: "Select"
                }, {
                    key: "苏宁",
                    value: "suning.com"
                }, {
                    key: "淘宝",
                    value: "taobao.com"
                }, {
                    key: "google",
                    value: "google.com"
                }, {
                    key: "拼多多",
                    value: "pingduoduo.com"
                }],
                selected: 'Select'
            }
        })

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
        new Vue({
            el: '#app11',
            data: {
                sites: [{
                    text: 'Runoob'
                }, {
                    text: 'Google'
                }, {
                    text: 'Taobao'
                }]
            }
        })

        vue.directive('focus', {
            inserted: function (el) {
                el.focus()
            }
        })
        new Vue({
            el: '#app12'
        })
        
    </script>
</body>


</html>