* {
    margin: 0;
    padding: 0;
}

.hr1 {
    margin: 15px 0;
    width: 100%;
    min-width: 1435px;
}

body {
    background-color: rgb(246, 246, 246);
    min-width: 600px;
}

/* 这是 header 部分的样式 */

#header {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 25px 0;
}

#header h2 {
    position: absolute;
    margin: auto;
    left: 10%;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 30px;
    color: #000000;
}

#header h2 .fPart {
    color: rgb(51, 51, 51);
}

#header h2 .sPart {
    color: rgb(150, 185, 125);
}

#header .input {
    position: absolute;
    left: 50%;
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #222;

}

.input input {


    width: 380px;
    height: 40px;
    margin: 5px;
    padding: 2px 8px;
    box-shadow: 0 0 10px rgb(238, 239, 237);
    font-size: 18px;
}

/* 这是 nav 部分的样式 */
#nav {

    width: 100%;
    min-width: 1435px;
    /* border: 1px solid black; */
}

#nav ul {
    display: flex;
    list-style-type: none;
    background-color: rgb(150, 185, 125);

}

#nav li {
    float: left;
}

#nav li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding: 8px 16px;
}

#nav li:first-child {
    margin-left: 9%;
}

#nav li a:hover {

    color: rgb(115, 150, 90);
}


/* 这是main部分 */
#main {
    position: sticky;
    min-width: 1550px;

    /* border: 1px solid black; */
}

/* 这是aside部分样式 */
#aside {
    /* float: left; */
    position: absolute;
    width: 11%;
    min-width: 180px;

    height: 100%;
    margin-left: 9%;
    border-radius: 8px;
    z-index: 1;
    /* border: 1px solid black; */
}

#aside ul {
    list-style-type: none;
}

#aside li {
    display: block;
    /* width: 180px; */
    border: 2px solid rgb(236, 236, 236);
    text-align: center;
}

#aside li:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

#aside .firstItem {
    display: block;
    font-size: 15px;
    padding: 4px 3px;
    font-size: 18px;
    color: rgb(150, 150, 150) !important;
}

#aside .otherItem {
    display: block;
    font-size: 18px;
    padding: 10px 3px;
}

#aside a {
    text-decoration: none;
    color: #222;
}

/* 这是content部分 */
#content {
    /* display: inline-block; */
    background-color: white;
    margin-left: 21%;
    padding: 20px 25px;
    /* width: 75%; */
    max-width: 65%;
    min-width: 1060px;
    border-radius: 8px;
    z-index: 3;
    border: 1px solid rgb(234, 234, 234);
}

#content h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.module::after {
    content: '';
    display: table;
    clear: left;
}

.module .block {
    float: left;
    width: 31%;
    min-width: 310px;
    height: 120px;
    margin: 6px 5px;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgb(244, 244, 244);
    /* border: 1px solid black; */
}

.module .block h3 {
    padding: 15px 20px;
    color: rgb(121, 147, 102);
}

.module img {
    float: left;
    width: 38px;
    height: 40px;
    padding: 5px 18px;
}

.module p {
    margin-left: 40px;
    padding: 0px 8px;
    font-size: 17px;
    font-weight: 550;
    color: #777;
}

/* 这是底部footer的样式 */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 30px;

    background-color: rgb(255, 255, 255);
}

#footer p {
    margin: 0;
    text-align: center;
    font-size: 90%;
    color: #999;
}

#footer a {
    color: #999;
    text-decoration: none;
}

#footer a:hover {
    color: green;
}